# 복습

In [2]:
월세 = int(input('월세를 입력해주세요:'))
관리비 = int(input('관리비를 입력해주세요:'))

print(월세 + 관리비)

월세를 입력해주세요:500000
관리비를 입력해주세요:60000
560000

In [6]:
orders = ['짜장','짬뽕','탕수욕'] #'list 안에 있는 짜장' 같은 것들을 요소라고 함 

print(orders[0]) #순서는 index라고함 ex)orders[0]

짜장

In [8]:
#list에 값 추가하기

orders = ['짜장','짬뽕','탕수욕']
orders.append('냉면')            #append 이어붙여준다

print(orders)

['짜장', '짬뽕', '탕수욕', '냉면']

In [10]:
#list에 값 추가하기

orders = ['짜장','짬뽕','탕수욕']
orders.insert(3,'양장피')            #insert index 에 값을 추가한다.

print(orders)

['짜장', '짬뽕', '탕수욕', '양장피']

In [12]:
#list에 값 제거하기

orders = ['짜장','짬뽕','탕수욕']
del orders[0]            #del index 에 값을 제거한다.

print(orders)

['짬뽕', '탕수욕']

In [14]:
#list에 값 제거하기

orders = ['짜장','짬뽕','탕수욕']
orders.remove('짜장')            #remove 값을 제거한다.

print(orders)

['짬뽕', '탕수욕']

In [17]:
#list에 값 제거하기

orders = ['짜장','짬뽕','탕수욕']
del orders[0]
orders.remove('짬뽕')            #remove 값을 제거한다.

print(orders)

['탕수욕']

In [18]:
#list에 값 제거하기

orders = ['짜장','짬뽕','탕수욕']
orders.remove('짜장')            #remove 값을 제거한다.

print(orders)

['짬뽕', '탕수욕']

In [21]:
# #len

# orders = ['짜장','짬뽕','탕수욕']
# print(len(orders))

name = '안녕하세요 김병우입니다'
print(len(name))

12

In [27]:
num = [20,40,50,10,30]

print(num)

print(sum(num)/len(num))
max(num) , min(num)

[20, 40, 50, 10, 30]
30.0

(50, 10)

In [34]:
#딕셔너리

menu = {'짜장':4000, '짬뽕':5000, '탕수육':9000}

menu['탕수육'] =800
print(menu['탕수육'])

800

In [36]:
#딕셔너리 키, 값 추가하기


menu = {'짜장':4000, '짬뽕':5000, '탕수육':9000}

menu['마라탕'] =1800
print(menu['마라탕'])

1800

In [38]:
#딕셔너리 키, 값 삭제하기

menu = {'짜장':4000, '짬뽕':5000, '탕수육':9000}


del menu['짜장']
print(menu)

{'짬뽕': 5000, '탕수육': 9000}

In [44]:

menu = {'짜장':4000, '짬뽕':5000, '탕수육':9000}

menu['냉면'] =6000

print(menu['짬뽕'])

menu['탕수육'] = 8500

del menu['짜장']

print(menu)

5000
{'짬뽕': 5000, '탕수육': 8500, '냉면': 6000}

In [49]:
myGrade = int(input('학번을 입력하세요'))
yourGrade = int(input('학번을 입력하세요'))

print(myGrade != yourGrade)

학번을 입력하세요10
학번을 입력하세요10
False

In [52]:
myGrade = int(input('학번을 입력하세요'))
yourGrade = int(input('학번을 입력하세요'))

if myGrade != yourGrade :
  print('앗 동기네요')
  print('반갑습니다.')
print('누구세요')

학번을 입력하세요10
학번을 입력하세요10
누구세요

In [ ]:
myGrade = int(input('학번을 입력하세요'))
yourGrade = int(input('학번을 입력하세요'))

if myGrade == yourGrade :
  print('앗 동기네요')
else:
  print('앗 동기가 아니네요')

In [53]:
myGrade = int(input('학번을 입력하세요'))
yourGrade = int(input('학번을 입력하세요'))

if myGrade == yourGrade :
  print('앗 동기네요')
elif myGrade > yourGrade:
  print('안녕하세요 선배님')
elif myGrade < yourGrade:
  print('안녕하세요 후배님')
else:
  print('누구세요?')

학번을 입력하세요15
학번을 입력하세요5
안녕하세요 선배님

In [55]:
orders = ['짜장','짬뽕','탕수육']

food = input('먹고싶은 메뉴를 입력해주세요 :')

if food in orders :
  print('주문 가능')
else:
  print('주문 불가능')

먹고싶은 메뉴를 입력해주세요 :냉면
주문 불가능

In [56]:
menu = {'짜장':4000, '짬뽕':5000, '탕수육':9000}

food = input('먹고싶은 메뉴를 입력해주세요 :')

if food in menu:
  print(f'주문 가능 {menu[food]}원 입니다')
else:
  print('주문 불가능')

먹고싶은 메뉴를 입력해주세요 :짜장
주문 가능 4000원 입니다

In [57]:
menu = {'짜장':4000, '짬뽕':5000, '탕수육':9000}
menu['냉면'] = 5500
food = input('먹고싶은 메뉴를 입력해주세요 :')

if food in menu:
  print(f'주문 가능 {menu[food]}원 입니다')
else:
  print('주문 불가능')

먹고싶은 메뉴를 입력해주세요 :냉면
주문 가능 5500원 입니다

In [64]:
i = 5

while i >=0:
  print(i)
  i-=1

5
4
3
2
1
0

In [66]:
# continue

i = 0
while i <10:
  i+= 1

  if i %2==0:
    continue
  print(i)

1
3
5
7
9

In [71]:
#for문
result = 0
for x in range(1,101):
  result+=x
print(result)

5050

In [81]:
for x in range(5): 
  print('*',end='')

*****

In [153]:
# for i in range(5):
#     for x in range(4):
#         print("*", end="")
#     print("*")


for i in range(5):
  for y in range(4):
    print('*',end='')
  print('여기')

여기
여기
여기
여기
여기

In [90]:
y='*'
  
for x in range(5): 
  y+='*'
  print(y)

**
***
****
*****
******

In [120]:
x = int(input('숫자를 입력해 주세요: '))

for i in range(x):
  print(x)
  x-=1

숫자를 입력해 주세요: 5
5
4
3
2
1

In [ ]:
x = int(input('숫자를 입력해 주세요: '))

for i in range(x):
  print(x)
  x-=1

In [167]:
x = int(input('숫자를 입력해 주세요: '))

for i in range(x):
  i +=1
  print(i,end=' ')
  if (i)%10 ==0:
    print()

숫자를 입력해 주세요: 20
1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20

In [173]:
#random
import random

randomNumber = random.sample(range(1,51),3)
print(randomNumber)

[28, 48, 25]

In [182]:
#로또 문제
import random

choice = int(input('로또를 몇개 살 것입니까? :'))



for i in range(choice+1):
  number = random.sample(range(1,46),6)
  number.sort()
  print(number)

로또를 몇개 살 것입니까? :6
[1, 11, 30, 31, 39, 43]
[2, 16, 28, 29, 31, 43]
[5, 14, 25, 26, 29, 38]
[1, 2, 15, 24, 30, 42]
[11, 16, 17, 18, 24, 40]
[1, 8, 14, 16, 19, 42]
[8, 10, 11, 20, 25, 38]

# 클래스

In [271]:
from random import *
#일반 유닛
class Unit:
  def __init__(self, name, hp,speed):             #__init__생성자 
    self.name = name                                #self.~ = 멤버 변수
    self.hp= hp
    self.speed = speed
    print(f'{name} 유닛이 생성되었습니다')
  
  def move(self, location):
    print('[지상 유닛 이동]')
    print(f'{self.name} : {location} 방향으로 이동합니다. [속도 {self.speed}]')

  def damaged(self, damage):
    print(f'{self.name} : {damage} 데미지를 입었습니다.')
    self.hp-= damage
    print(f'{self.name} :현재 체력은 {self.hp}입니다.')
    
    if self.hp <= 0:
      print(f'{self.name} : 파괴 되었습니다.')

#공격 유닛
class AttackUnit(Unit):
  def __init__(self, name ,hp ,speed, damage):
    Unit.__init__(self,name,hp,speed)
    self.damage = damage
  
  def attack(self, location):
    print(f'{self.name} : {location} 방향으로 적군을 공격합니다 [공격력{self.damage}]')

#마린
class Marine(AttackUnit):
  def __init__(self):
    AttackUnit.__init__(self,'마린',40,1,5) 

    #스팀팩
  def stimpack(self):
    if self.hp > 10 :
      self.hp-= 10
      print(f'{self.name} : 스팀팩을 사용 합니다 (hp 10 감소)')
    else:
      print(f'{self.name} : 체력이 부족하여 스팀팩을 사용하지 못합니다.')

#탱크
class Tank(AttackUnit):
  # 시즈모드
  seize_developed = False #시즈모드 개발 여부
  def __init__(self):
    AttackUnit.__init__(self,'탱크',150,1,35) 
    self.seize_mode =False
  
  def set_seize_mode(self):
    if Tank.seize_developed ==False:
      return

    # 현재 시즈모드가 아닐 때  -> 시즈모드
    if self.seize_mode ==False:
      print(f'{self.name} : 시즈모드로 전환합니다.')
      self.damage *= 2
      self.seize_mode =True
    #현재 시즈모드일 때 ->시즈모드 해제
    else:
      print(f'{self.name} : 시즈모드로 해제합니다.')
      self.damage /= 2
      self.seize_mode =False

#날수 있는 기능을 가진 클래스
class Flyable:
  def __init__(self, flying_speed):
    self.flying_speed = flying_speed

  def fly(self, name ,location):
    print(f'{name} : {location} 방향으로 날아갑니다. [속도{self.flying_speed}]')

#공중 공격 유닛 클래스
class FlyableAttackUnit(AttackUnit, Flyable):
  def __init__(self, name ,hp, damage, flying_speed):
    AttackUnit.__init__(self, name, hp,0,damage) #지상 스피드 0
    Flyable.__init__(self, flying_speed)

  def move(self,location):
    print('[공중 유닛 이동]')
    self.fly(self.name,location)

#레이스 
class Wraith(FlyableAttackUnit):
  def __init__(self):
    FlyableAttackUnit.__init__(self,'레이스',80,20,5)
    self.clocked = False # 클로킹 모드 (해제상태)

  def clocking(self):
    if self.clocked ==True: #클로킹모드 ->해제
      print(f'{self.name} : 클로킹 모드 해제합니다.')
      self.clocked =False
    else: 
      print(f'{self.name} : 클로킹 설정합니다.')
      self.clocked =True

def game_start():
  print('[알림] 새로운 게임을 시작합니다.')
def game_over():
  print('Player :gg.')
  print('[Player] 님이 게임에서 퇴장하셨습니다.')


#게임 진행
game_start()

# 마린 3기 생성
m1 = Marine()
m2 = Marine()
m3 = Marine()

t1 =Tank()
t2 =Tank()
t3 =Tank()

w1 = Wraith()

#유닛 일괄 관리
attack_units = []
attack_units.append(m1)
attack_units.append(m2)
attack_units.append(m3)
attack_units.append(t1)
attack_units.append(t2)
attack_units.append(t3)
attack_units.append(w1)

#전군 이동
for unit in attack_units:
  unit.move('1시')

# 탱크 시즈모드 개발
Tank.seize_developed =True
print('[알림] 탱크 시즈 모드 개발이 완료되었습니다.')

# 공격 모드 준비(마린 : 스팀팩,탱크 : 시즈모드 , 레이스 :클로킹)
for unit in attack_units:
  if isinstance(unit, Marine):
    unit.stimpack()
  elif isinstance(unit, Tank):
    unit.set_seize_mode()
  elif isinstance(unit, Wraith):
    unit.clocking()

# 전군 공격
for unit in attack_units:
  unit.attack('1시')

# 전군 피해
for unit in attack_units:
  unit.damaged(randint(5,21)) #공격은 랜덤으로 받음 

# 게임 종료 
game_over()

[알림] 새로운 게임을 시작합니다.
마린 유닛이 생성되었습니다
마린 유닛이 생성되었습니다
마린 유닛이 생성되었습니다
탱크 유닛이 생성되었습니다
탱크 유닛이 생성되었습니다
탱크 유닛이 생성되었습니다
레이스 유닛이 생성되었습니다
[지상 유닛 이동]
마린 : 1시 방향으로 이동합니다. [속도 1]
[지상 유닛 이동]
마린 : 1시 방향으로 이동합니다. [속도 1]
[지상 유닛 이동]
마린 : 1시 방향으로 이동합니다. [속도 1]
[지상 유닛 이동]
탱크 : 1시 방향으로 이동합니다. [속도 1]
[지상 유닛 이동]
탱크 : 1시 방향으로 이동합니다. [속도 1]
[지상 유닛 이동]
탱크 : 1시 방향으로 이동합니다. [속도 1]
[공중 유닛 이동]
레이스 : 1시 방향으로 날아갑니다. [속도5]
[알림] 탱크 시즈 모드 개발이 완료되었습니다.
마린 : 스팀팩을 사용 합니다 (hp 10 감소)
마린 : 스팀팩을 사용 합니다 (hp 10 감소)
마린 : 스팀팩을 사용 합니다 (hp 10 감소)
탱크 : 시즈모드로 전환합니다.
탱크 : 시즈모드로 전환합니다.
탱크 : 시즈모드로 전환합니다.
레이스 : 클로킹 설정합니다.
마린 : 1시 방향으로 적군을 공격합니다 [공격력5]
마린 : 1시 방향으로 적군을 공격합니다 [공격력5]
마린 : 1시 방향으로 적군을 공격합니다 [공격력5]
탱크 : 1시 방향으로 적군을 공격합니다 [공격력70]
탱크 : 1시 방향으로 적군을 공격합니다 [공격력70]
탱크 : 1시 방향으로 적군을 공격합니다 [공격력70]
레이스 : 1시 방향으로 적군을 공격합니다 [공격력20]
마린 : 21 데미지를 입었습니다.
마린 :현재 체력은 9입니다.
마린 : 6 데미지를 입었습니다.
마린 :현재 체력은 24입니다.
마린 : 21 데미지를 입었습니다.
마린 :현재 체력은 9입니다.
탱크 : 12 데미지를 입었습니다.
탱크 :현재 체력은 138입니다.
탱크 : 17 데미지를 입었습니다.
탱크 :현재 체력은 133입니다.
탱크 : 17 데미지를 입었습니다.
탱크 :현재 체력은 133입니다.
레이스 : 12 데미지를 입었습니다.
레이스 :현재 체력은 68입니다.
Player :gg.
[Player] 님이 게임에서 퇴장하셨습니다.

In [280]:
# 출력예제
# 총 3대의 매물이 있습니다.
# 강남 아파트 매매 10억 2010년
# 마포 오피스텔 전세 5억 2007년
# 송파 빌라 월세 500/50 2000년

class House:
  # 매물 초기화
  def __init__(self, location, house_type, deal_type, price, completion_year):
    self.location = location
    self.house_type =house_type
    self.deal_type =deal_type
    self.price =price
    self.completion_year = completion_year
  def show_detail(self):
    print(self.location, self.house_type, self.deal_type, self.price, self.completion_year)

house = []

Gangnam = House('강남','아파트','매매','5억','2010년')
Mapo = House('마포','오피스텔','전세','5억','2007년')
songpa = House('송파','빌라','월세','500/50','200년')

house.append(Gangnam)
house.append(Mapo)
house.append(songpa)

print(f'{len(house)}대의 매물이 있습니다.')
for a in house:
  
  a.show_detail()

3대의 매물이 있습니다.
강남 아파트 매매 5억 2010년
마포 오피스텔 전세 5억 2007년
송파 빌라 월세 500/50 200년

In [252]:
class Unit:
  def __init__(self):
    print('Unit 생성자')

class Flyable:
  def __init__(self):
    print('Flyable 생성자')

class FlyableUnit(Unit,Flyable):
  def __init__(self):
    # super().__init__() 
    Unit.__init__(self)
    Flyable.__init__(self)

dropship =FlyableUnit()

Unit 생성자
Flyable 생성자

In [199]:


class 대리인(object):
  이름 = '라이캣의 대리인'
  대리인_목록=[]
  훈장 = [
      '백상아리를 잡은 고양이',
      '성실한 납세자',
      '해골섬 낚시꾼',
      '청년 고용 착한 기업',
      '회사를 설립한 자',
      '혈통을 인정을 받은 자',
      '천민을 위한 병원을 세운 자'
  ]
  기술 = {
      '회사운영' :99,
      '낚시':96,
      '통발':93,
      '큰그물':95,
      '재무':34
  }
  def 계산하기(self, x):
    print(int(x)*5000, '원 입니다.')

  def 이름_변경하기(self, name):
    self.이름 = name
  def 포장하기(self):
    print('포장이 완료되었습니다.')

대리인1 = 대리인()      #인스턴스 / 클래스
대리인.대리인_목록.append('대리인1')
대리인2 = 대리인()
대리인.대리인_목록.append('대리인2')

print(대리인1.훈장)
print(대리인2.이름)


print(대리인1.이름)
print(대리인2.이름)

['백상아리를 잡은 고양이', '성실한 납세자', '해골섬 낚시꾼', '청년 고용 착한 기업', '회사를 설립한 자', '혈통을 인정을 받은 자', '천민을 위한 병원을 세운 자']
라이캣의 대리인
라이캣의 대리인
라이캣의 대리인

In [197]:
class 대리인(object):
  이름 = '라이캣의 대리인'
  대리인_목록=[]
  훈장 = [
      '백상아리를 잡은 고양이',
      '성실한 납세자',
      '해골섬 낚시꾼',
      '청년 고용 착한 기업',
      '회사를 설립한 자',
      '혈통을 인정을 받은 자',
      '천민을 위한 병원을 세운 자'
  ]
  기술 = {
      '회사운영' :99,
      '낚시':96,
      '통발':93,
      '큰그물':95,
      '재무':34
  }

  def __init__(self, name):
    self.이름 = name
    self.대리인_목록.append(name)
  def 계산하기(self, x):
    print(int(x)*5000, '원 입니다.')

  def 포장하기(self):
    print('포장이 완료되었습니다.')



대리인1.이름_변경하기('라이캣_분신_하나')
대리인2.이름_변경하기('라이캣_분신_둘')

print(대리인1.이름)
print(대리인2.이름)
print(대리인1.대리인_목록)
print(대리인2.대리인_목록)

라이캣_분신_하나
라이캣_분신_둘
['대리인1', '대리인2']
['대리인1', '대리인2']

In [204]:
class 배터리_영구_증가(object):
  pass
class 효율_극대화(object):
  pass

class 대리인(object):
  이름 = '라이캣의 대리인'
  대리인_목록=[]


  def __init__(self, name):
    self.이름 = name
    self.대리인_목록.append(name)
  def 계산하기(self, x):
    print(int(x)*5000, '원 입니다.')

  def 포장하기(self):
    print('포장이 완료되었습니다.')

class 진화된_대리인(대리인,배터리_영구_증가 ,효율_극대화):
  추가_서로협의하기 =True
  
  def 추가된_기능_청소기능(self):
    print('청소기능이 추가되었습니다.')

In [209]:
class 신규_로봇(object):

  로봇의_기능 = ['포장하기','배달하기']
  def __init__(self,name):
    self.name = name
  def __getattr__(self, item):
    print(item + '속성은 존재하지 않습니다.') 
  def __str__(self):
    return 'hello world'
  def start(self):
    print('로봇이 동작합니다.')

로봇1 = 신규_로봇('로봇 하나')
print(로봇1)
# print(로봇1.name)
# print(로봇1.청소하기)
print(type(로봇1))
print(dir(로봇1))

hello world
<class '__main__.신규_로봇'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'name', 'start', '로봇의_기능']

In [216]:
class 대리인(object):
  def __init__(self,name):
    self.이름 = name +'대리인'
  def __str__(self):
    return self.이름

대리인_그룹 = []

for name in range(10):
  대리인_그룹.append(대리인(str(name)))

print(대리인_그룹[0])

0대리인