# 1.함수 복습

In [1]:
#함수 예제 1 - 함수 생성

def print_coin():
  print('비트코인')

In [2]:
#함수 예제 1 - 함수 호출

print_coin()

비트코인

In [3]:
for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [4]:
# 함수 예제 3 - 함수를 호출할 때 위치
print_coin_2()

def print_coin_2():
  print('비트코인 2개')

NameError: ignored

In [6]:
# 함수 예제 4 - 연습 문제1

def message():
  print('a')
  print('b')

message()
print('c')
message()

a
b
c
a
b

In [8]:
#함수 예제 5 - 연습 문제 2 
# 이렇게 사용하면 헷갈리게됨

print('A')

def message():
  print('B')

print('C')
message()

A
C
B

In [10]:
#함수 예제 6 - 연습 문제 3
print('A')

def message1():
  print('B')

print('C')

def message2():
  print('D')

message1()
print('E')
message2()

A
C
B
E
D

In [11]:
# 함수 예제 7 - 연습 문제 4

def message1():
  print('A')

def message2():
  print('B')
  message1() # -> print('A')

message2()

B
A

In [ ]:
# 함수 예제 8 - 연습 문제 5

def message1():
  print('A')

def message2():
  print('B')

def message3():
  for i in range(3):
    message2()
    print('C')
  message1()
  
message3()

In [1]:
#함수 예쩨 9 - 숫자 유형
#함수안에 있는 변수는 바깥에서 사용할 수 가 없다는 것을 !!

def num(a,b):
  print(a +b)
num(3,4)

7

In [5]:
#함수 예제 10 - 숫자형 문자형 같이 사용했을 때

def num_str(a,b):
  print(a+b)

num_str('안녕',3)

TypeError: ignored

In [6]:
#함수 예제 11 - 문자형 입력받는 경우

def print_with_smile(string):
  print(string + ':)')

print_with_smile("안녕하세요")

안녕하세요:)

In [7]:
#함수 예제 12 - 덧셈
def print_upper_price(price):
  print(price*1.3)

print_upper_price(300)

390.0

In [8]:
#함수 예제 13 - 두수의 합/차이/곱셈/나눗셈을 출력하는 출력

def ex_13(a,b):
  print(a+b)
  print(a-b)
  print(a*b)
  print(a/b)

ex_13(3,4)

7
-1
12
0.75

In [11]:
#함수 예제 14 - 세 개의 숫자를 입력받아 가장 큰 수를 출력하는 print_max 함수를 정의하라.
#단, if 문을 사용해서 수를 비교하시오

def print_max(a,b,c):
  max_val = 0

  if a>max_val:
    max_val =a
  
  if b> max_val:
    max_val =b
  
  if c> max_val:
    max_val =c

  print(max_val)

print_max(3,6464,8989888)

8989888

In [15]:
# 함수 예제 15 - 입력된 문자열을 역순으로 출력하는 reverse 함수

def print_reverse(string_a):
  print(string_a[::-1])

print_reverse('python')

nohtyp

In [17]:
# 함수 예제 16 -평균을 출력하는 함수

def print_score(score_list):
  print(sum(score_list)/len(score_list))

print_score([1,2,3])

2.0

In [20]:
# 함수 예제 17 - 하나의 리스트를 입력받아서 짝수만 출력하는 함수를 만들어보세요

def print_even(print_list):
  for i in print_list:
    if i%2 == 0:
      print(i)

print_even([3154,789,755892,4])

3154
755892
4

In [21]:
#함수 예제 18

def print_dic(my_dict):
  print(my_dict)

print_dic({"이름" : "홍길동", "나이" : 30, "직업" : "의적"})

{'이름': '홍길동', '나이': 30, '직업': '의적'}

In [22]:
# 함수 예제 19 - 함수 내부의 결과는 접근이 불가하다

def n_plus(n):
  result = n+1 
  return result

In [25]:
# 함수 예제 20 - 문자열 하나를 입력받아서 인터넷 주소를 반환하는 함수를 만들어라 

def make_url(string):
  url = 'www.'+string+'.com'
  return url

make_url('naver')

'www.naver.com'

In [28]:
# 함수 예제 21 - 문자열 하나씩 입력받아서 리스트 화

def make_list(string):
  l = []
  for i in string:
    l.append(i)
  return l

make_list('dasdsadssad')

['d', 'a', 's', 'd', 's', 'a', 'd', 's', 's', 'a', 'd']

In [30]:
# 함수 예제 22 - 문자열 대체
def convert_int(string):
  return int(string.replace(',',''))

convert_int('123,456')

123456

In [31]:
#함수 예제 23

def number_1(num):
  return num +4

a= number_1(10) #14
b= number_1(a)  #18
c= number_1(b)  #22
print(c)

22

In [37]:
def double(x):
  y = x
  x = 10
  return y * y

x= 3
print(double(x))

9

In [39]:
# 함수 예제 27
# return에 매개변수 없이 출력이 되면 함수 내 문장과 상관없이 그 값을 빠져나옵니다.

def test_01(a):
  if a == 10:
    return #pass
  else:
    print("10이 아닙니다.")


test_01(10)

In [40]:
#함수 예제 28 - 함수의 호출 과정(키워드 인수)
#위치인수는 호출할 때 함수의 정의와 인수 순서가 같은 순서로 지정!!
#위치가 틀어지면 값이 완전히 바뀔 수 있다.

def billing(unit_prices, units, fees, tax_rate):
  return (unit_prices * units + fees) * tax_rate
  
x = billing(1000, 10, 500, 1.1)
print(x)

11550.000000000002

In [41]:
y = billing(10, 1000, 1.1, 500)
print(y)

5000550.0

In [43]:
def billing(unit_prices, units, fees, tax_rate):
  return (unit_prices * units + fees) * tax_rate

x = billing(
            unit_prices = 1000, 
            units = 10, 
            fees = 500, 
            tax_rate = 1.1
            )
print(x)

11550.000000000002

In [44]:
# 키워드 +위치인수

x2 = billing(1000, 10, fees = 500, 1.1)
print(x2)

SyntaxError: ignored

In [45]:
# 연습문제 1. 출력 결과를 말씀해주세요

def print_hi():
  print("Hi")

# 1. Hi
# 2. NameError
# 3. print_hi()
# 4. ValueError
# 5. 출력값 없음

In [46]:
# 연습문제 2. 출력 결과를 말씀해주세요

def test(k):
  print(f"Input is {k}")

k = 1000
test(k)

#1 Input is 1000
#2 NameError
#3 IndexError
#4 ValueError
#5 None

Input is 1000

In [47]:
# 연습문제 3 - 출력 결과를 말씀해주세요
def f(x):
  y = x
  x = 7
  return y * x

x = 4
print(f(3))
print(x)

# 1. 21
#    4
# 2. 9
#    3
# 3. 21
#    4
# 4. 49
#    3
# 5. 21
#    7

21
4

In [48]:
# 연습문제 4
name = 'jinho'

def call_my_name():
  print(name)
  name = 'sehoon'

call_my_name()

# 1. 'Jinho'
# 2. 'sehoon'
# 3. None
# 4. error
# 5. 'call_my_name'

UnboundLocalError: ignored

In [49]:
# 연습문제 5
def say_myself(name, old, woman = True):
  print(f"나의 이름은 {name}입니다.")
  print(f"나의 나이는 {old}입니다.")
  if woman:
    print("여성입니다.")
  else:
    print("남성입니다.")

say_myself("최주영", "35")

#1. 나의 이름은 최주영입니다.
#   나의 나이는 35입니다.
#   여성입니다.
#2. 나의 이름은 최주영입니다.
#   남성입니다.
#   나이는 35살 입니다.
#3. 나의 이름은 최주영입니다.
#   여성입니다.
#   나이는 35살 입니다.
#4. 나의 이름은 최주영입니다.
#   나의 나이는 35입니다.
#   남자입니다.
#5. 나의 이름은 최주영입니다.
#   여성입니다.

나의 이름은 최주영입니다.
나의 나이는 35입니다.
여성입니다.

In [50]:
# 연습문제 6 실행된 값을 무엇일까요?

def exam_func():
  x = 10
  print(f"Value: {x}")

x = 20
exam_func()
print(f"Value: {x}")

Value: 10
Value: 20

In [51]:
# 연습문제 7 실행된 함수가 어떤값을 가질지 맞춰주세요

def get_abbr(data_list):
  result = []

  for x in data_list:
    result.append(x)

  return result

get_abbr(['Seoul', 'Anyang', 'Incheon', 'Jeju'])

#1. ['Seoul', 'Anyang', 'Incheon', 'Jeju']
#2. ['Seoul', 'Anyang', 'Incheon']
#3. ['Seo', 'Any', 'Inc', 'Jej']
#4. ['Seo']
#5. error

['Seoul', 'Anyang', 'Incheon', 'Jeju']

In [52]:
# 연습문제 8 

test_data = 3
def hi(a):
  b = a*3
  return b

print(hi(test_data))

#1. TypeError
#2. 9
#3. 3
#4. None
#5. ValueError

9

In [53]:
# 연습문제 9
a = 111
b = 222

def function_1():
  print(a)
  print(b)

def function_2():
  a = 333
  print(b)
  print(a)

function_1()
function_2()

#1. 111 222 222 333
#2. 222 333 111 222
#3. 222 111 222 333
#4. 111 222 333 444
#5. 333 222 222 111

111
222
222
333