# 옷가게 할인 받기
- 10만원 이상 사면 5퍼센트
- 30만원 이상 사면 10퍼센트
- 50만원 이상 사면 20퍼센트

In [29]:
def solution(price):
      if price <100000 :
        return price

      if price >= 100000 and price<300000:
        price-= price*0.05
        return int(price)

      if price >= 300000 and price <500000:
        price-= price*0.1
        return int(price)

      if price >= 500000:
        price-= price*0.2
        return int(price)

5000

# 배열 두배 만들기

In [39]:
def solution(numbers):
    result =[]
    for i in numbers:
        result.append(i*2)
    return result

[2, 4, 6, 8, 10, 12]

# 자릿수 더하기

In [94]:
def solution(n):
    c= []
    for i in str(n):
        c.append(int(i))
    
    return sum(c)

SyntaxError: ignored

# 문자 반복 출력하기

In [166]:
def solution(my_string, n):
    c=''
    for i in my_string:
        c+=i*n
    return c

'hhheeellllllooo'

# 짝수는 싫어요

In [195]:
def solution(n):
    answer = []
    for i in range(1,n+1)
    if i%2 !=0:
        answer.append(i)
    return answer

2

# 제곱수 판별하기

In [193]:
def solution(n):
  a =math.sqrt(n)
  if a == int(math.sqrt(n)):
   return 1
  else:
    return 2

19.8997487421324

# 개미 군단 (실패)

In [222]:
# 장군개미 5 공격력
# 병정개미 3 공격력
# 일개미 1 공격력
# ex) hp 23 여치 = 일개미 23 || 장군개미4 +병정개미'

hp =23
high_ant = 5
mid_ant= 3
low_ant= 1
count =0
if hp >=5:
  a=hp//high_ant 
  count +=a
  print(count)
  if a >=3:
    b= a//mid_ant
    count +=b
    print(count)
    print(b)
    if b >=1:
     count +=b//low_ant     
elif hp>=3 and hp<5:
  c =hp//mid_ant
  count +=c
  if c>=1:
    count+= c//low_ant

elif hp>=1 and hp<3:
  count +=hp//low_ant

4
5
1

# 세균 증식

In [230]:
# 1시간에 두배
# 7(n)*2(고정값)**15(t)

def solution(n,t):
  return n*2**t

In [233]:
2<<10

2048

# 가위바위보

In [249]:
def solution(rsp):
  d=''
  for i in range(len(rsp)):
    print(rsp[i])
    if rsp[i] =='2':
      d+='0'
    elif rsp[i] == '0':
      d+='5'
    elif rsp[i] == '5':
      d+='2'
  return d

# 암호 해독

In [290]:
def solution(cipher, code):
  d=''
  for i in range(code-1,len(cipher),code):
      d+=cipher[i]
  return d

# 대문자와 소문자 (swapcase)

In [301]:
def solution(my_string):
  d=''
  for i in my_string:
    if i.isupper()==True:
      d+=i.lower()
    else:
      d+=i.upper()
  return d

'CCCccc'

## swapcase

In [303]:
string = 'Welcome To My Blog'

string.swapcase()

'wELCOME tO mY bLOG'

In [304]:
def solution(my_string):
  return my_string.swapcase()
solution('CCCccc')

'cccCCC'

# 최댓값 만들기 (2)

In [324]:
def solution(numbers):
  numbers.sort()
  if numbers[1]<0 and numbers[0]*numbers[1] >numbers[-1]*numbers[-2]:
    return numbers[0]*numbers[1]
  else:
    return numbers[-1]*numbers[-2]

19344831211642758102767772475987826070

In [325]:
def solution(numbers):
  numbers.sort()
  return max(numbers[0]*numbers[1],numbers[-1]*numbers[-2])

5

# n의 배수 고르기

In [329]:
def solution(n,numlist):

  d=[]
  for i in numlist:
    if i%n ==0:
      d.append(i)
  return d

[3, 6, 9]

# 문자열 정리하기(1) (isdigit)

In [375]:
def solution(my_string):
    b=['0','1','2','3','4','5','6','7','8','9']
    c=[]
    d= list(my_string)
    d.sort()
    for i in d:
        if i in b:
            c.append(int(i))
    return c

## isdigit

In [374]:
a= '123'
a2='010-1234-5678'
a3='전화번호010'
a4 = 'phone 010'

print(a.isdigit())
print(a2.isdigit())
print(a3.isdigit())
print(a4.isdigit())

True
False
False
False

# for문 한줄에 작성

In [379]:
# [결과 for 반복문]
temp = [i for i in range(7)]
print(temp)

[0, 1, 2, 3, 4, 5, 6]

In [380]:
temp = [i*j for i in range(1,3) for j in range(1,4)]
print(temp)

[1, 2, 3, 2, 4, 6]

In [386]:
for i in range(1,3):
  for j in range(1,4):
    print(i*j)

1
2
3
2
4
6

In [390]:
# +if 조건문
temp = [i*j if i%2 ==1 else 'pass' for i in range(1,5) for j in range(1,4)]
temp

[1, 2, 3, 'pass', 'pass', 'pass', 3, 6, 9, 'pass', 'pass', 'pass']