# 삼각형의 완성조건 (1)

In [ ]:

def solution(sides):
  sides.sort()
  if sides[0]+sides[1] >sides[2]:
    return 1
  else:
    return 2

solution([1,3,4])

2

# 배열 뒤집기

In [ ]:
def solution(num_list):
    return num_list[::-1]

num_list = [12,2134,12321,321,3,]

In [ ]:
a = [1,2,3,54,6]
a[::-1]

[6, 54, 3, 2, 1]

# 문자열 뒤집기

In [ ]:
def solution(my_string):

    return my_string[::-1]

# 중복된 숫자 개수

In [ ]:
def solution(array, n):
    if n in array:
      return array.count(n)
    else:  
      return 0

# 점의 위치 구하기

In [ ]:
def solution(dot):
  if dot[0]>0 and dot[1]>0:
    return 1
  elif dot[0]<0 and dot[1]>0:
    return 2
  elif dot[0]<0 and dot[1]<0:
    return 3
  elif dot[0]>0 and dot[1]<0:
    return 4

# 배열의 유사도(set함수)

In [ ]:
# def solution(s1,s2):
#     count = 0 
#     for i in range(len(s2)):
#         if s2[i] in s1:
#             count +=+1
#     return count

def solution(s1,s2):
    s1= set(s1)
    s2= set(s2)
    return len(s2.intersection(s1))

## set

In [ ]:
# set 함수
s1 = set([6,1, 2, 3, 4, 5])

s1

{1, 2, 3, 4, 5, 6}

In [ ]:
# 순서가 없다
# 중복이 없다
s2 = set('hello')
s2

{'e', 'h', 'l', 'o'}

In [ ]:
s1 = set([1,2,3])
l1 = list(s1)
l1
l1[0]
t1 = tuple(s1)
t1

(1, 2, 3)

In [ ]:
# 교집합, 합집합 차집합 구하기

#교집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

s1 & s2
s1.intersection(s2)

#합집합
s1 |s2
s1.union(s2)

#차집합

s1 -s2
s2-s1
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

In [ ]:
# 값 1개 추가하기 

s1 = set([1,2,3])
s1.add(4)
s1

# 값 여러개 추가하기

s1 = set([1,2,3])
s1.update([4,5,6])
s1

# 특정 값 제거하기
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

# 모음 제거 (join)

In [ ]:
# def solution(my_string):
#     b= ['a','e','i','o','u']
#     for i in range(len(b)):
#         if b[i] in my_string:
#             my_string = my_string.replace(b[i],'')
#     return my_string

def solution(my_string):
    return ''.join([i for i in my_string if not(i in 'aeiou')])

## join

In [ ]:
','.join('abcd')

'a,b,c,d'

In [ ]:
''.join(['a','b','c','d'])

'abcd'

# 중앙값 구하기

In [ ]:
def solution(array):
    array.sort()
    return array[int(len(array)/2)]

# 편지

In [ ]:
def solution(message):
    return len(message)*2

# 머쓱이보다 키 큰 사람

In [ ]:
array = [149, 180, 192, 170]
height= 200
b=a.append(height)
a.sort()


# print(len(array[array.index(height)+1:]))

In [ ]:
array2 = [149, 180, 192, 170]
height2= 190
array2.append(height2)
array2.sort(reverse= True)
array2

[192, 190, 180, 170, 149]

In [ ]:
def solution(array, height):
    array.append(height)
    array.sort(reverse = True)

    return len(array[array.index(height)+1:])

solution([180, 120, 140,170,200,130,160,190],190)

7

In [ ]:
array = [190,190]

In [ ]:
a = input()

TypeError: ignored

# 과제

In [ ]:
#key =프린터 이름
#values [종이수,토너수]
def cmd_input():
  input = ('프린터와 장수를 입력하세요 (예: 잉크젯 20)': )


def printer_use(page,toner):
  pass
  # printer_dict={
  #     '잉크젯' :[200,100],
  #     '레이저젯':[200,100],
  #     'Epson' :[200,100]
  # }
  # budget = 200000
  # return 
  # 프린터의 종이수와 토너를 차감함 
  # 토너-= 종이수//10

def printer_status():
  pass
  print(f'{printer_dict.} 종이 {printer_dict.get('잉크젯')[0]} 토너 {printer_dict.get('잉크젯')[1]}')
  print(f'{printer_dict.} 종이 {printer_dict.get('잉크젯')[0]} 토너 {printer_dict.get('잉크젯')[1]}')
  print(f'{printer_dict.} 종이 {printer_dict.get('잉크젯')[0]} 토너 {printer_dict.get('잉크젯')[1]}')

def printe_refill(name,page,toner):
  pass
  # 프린터명, 장수, 토너수 입력 받음 해당 함수를 호출하여 프린터에 추가
  # 종이는 100원 토너는 200원씩 계산하여 예산에서 차감
def printer_del(name):
  pass
  # 삭제할 프린터명을 입력받은 후 해당 함수를 호출하여 사전에서 명시된 프린터를 삭제
  # 삭제후 남아 있는 프린터 이름들을 출력예와 같이 리스트로 알려줌

SyntaxError: ignored

In [ ]:
printer_dict.items()
printer_dict[[200,100]]

In [ ]:
# dict 키, 값 추가하기
a = {1:'a'}
a[3] ='b'
a
a['name'] ='pey'
a
del a['name']
a

In [ ]:
#key 사용해 value 값 얻기
grade = {'pey': 10, 'julliet': 99}
grade['pey']

In [ ]:
# key 리스트 만들기, values 리스트 만들기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()
a.values()

# for 문 이용하여 key 값 뽑기
for i in a.keys():
  print(i)

In [ ]:
#key, value 쌍 얻기
a.items()

#key, value 쌍 모두 지우기
a.clear()

In [ ]:
# key로 value 얻기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

a.get('name')