## list 

1. 순서가 있다.
2. 수정이 가능합니다
3. 순회가 가능합니다.
4. 값의 중복을 허락합니다.

In [3]:
# list , tuple ,dict, set

# 1.list

훈장 = []
기술 = ['고기잡이', '고기팔기']
print(type(기술))
print(dir(기술))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
잡은물고기= ['광어', '고등어','오징어','오징어','광어',
             '광어', '고등어',' 고등어', '백상아리','금붕어']


print(잡은물고기[0])
print(잡은물고기[0:3])
print(잡은물고기[0:7:2])
잡은물고기[-1] ='백상아리'

광어
['광어', '고등어', '오징어']
['광어', '오징어', '광어', '고등어']

In [17]:
잡은물고기.count('백상아리')
잡은물고기.append('백상아리')
# 잡은물고기.clear
# 잡은물고기.copy
# 잡은물고기.count
# 잡은물고기.extend

In [19]:
잡은물고기.extend(['광어','광어','고등어'])

잡은물고기

['광어',
 '고등어',
 '오징어',
 '오징어',
 '광어',
 '광어',
 '고등어',
 ' 고등어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '광어',
 '고등어']

In [22]:
잡은물고기.index('백상아리')
잡은물고기.insert(3, 'qortkddkfl')
잡은물고기
잡은물고기.pop()
#pop안에 index가능

['광어',
 '고등어',
 '오징어',
 'qortkddkfl',
 'qortkddkfl',
 '오징어',
 '광어',
 '광어',
 '고등어',
 ' 고등어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '광어',
 '고등어']

In [25]:
잡은물고기.remove('백상아리')
잡은물고기

['광어',
 '고등어',
 '오징어',
 '오징어',
 '광어',
 '광어',
 '고등어',
 ' 고등어',
 '백상아리',
 '백상아리',
 '광어',
 '광어',
 '고등어']

In [27]:
잡은물고기.reverse()
잡은물고기

['광어',
 '고등어',
 '오징어',
 '오징어',
 '광어',
 '광어',
 '고등어',
 ' 고등어',
 '백상아리',
 '백상아리',
 '광어',
 '광어',
 '고등어']

In [29]:
잡은물고기.sort()
잡은물고기

[' 고등어',
 '고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어']

## 2.tuple

1. 순사가 있습니다
2. 값의 변화를 줄 수 없습니다.

In [30]:
잡은물고기_튜플 =[' 고등어',
 '고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어']

print(type(잡은물고기_튜플))
print(dir(잡은물고기_튜플))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## 3. 딕셔너리

1. 순서가 없습니다
2. 키 값의 중복을 허락하지 않습니다.
3. 값의 중복은 가능합니다.
4. 순회는 가능합니다.

In [31]:
# Dictionary의 구조
# dic = {'key' : 'value'}

잡은물고기_딕셔너리 = {'광어' :4, '고등어' :4, '오징어' : 2, '백상아리': 3}

In [35]:
잡은물고기_딕셔너리['광어']
del 잡은물고기_딕셔너리['고등어']

잡은물고기_딕셔너리

KeyError: ignored

In [37]:
print(type(잡은물고기_딕셔너리))
print(dir(잡은물고기_딕셔너리))

<class 'dict'>
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [39]:
잡은물고기_딕셔너리.items()

dict_items([('광어', 4), ('오징어', 2), ('백상아리', 3)])

In [40]:
잡은물고기_딕셔너리.values()

dict_values([4, 2, 3])

In [41]:
잡은물고기_딕셔너리.keys()

dict_keys(['광어', '오징어', '백상아리'])

In [46]:
잡은물고기_딕셔너리_복사 = 잡은물고기_딕셔너리.copy()
잡은물고기_딕셔너리_복사['백상아리'] = 10
잡은물고기_딕셔너리_복사

{'광어': 4, '오징어': 2, '백상아리': 10}

In [47]:
잡은물고기_딕셔너리

{'광어': 4, '오징어': 2, '백상아리': 5}

## 4. set

1. 순서가 없습니다.
2. 값의 중복을 허락하지 않습니다.
3. 차집합, 교집합, 합집합 등의 연산이 가능합니다.

In [49]:
잡은물고기

[' 고등어',
 '고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어']

In [59]:
test =set(잡은물고기)
test

{' 고등어', '고등어', '광어', '백상아리', '오징어'}

In [54]:
잡은물고기_집합 = {' 고등어', '광어', '대왕오징어'}
잡은물고기_집합

{' 고등어', '광어', '대왕오징어'}

In [63]:
# print(type(잡은물고기_집합))
# print(dir(잡은물고기_집합))
test.difference(잡은물고기_집합)
test.intersection(잡은물고기_집합)
test.union(잡은물고기_집합)

{' 고등어', '고등어', '광어', '대왕오징어', '백상아리', '오징어'}

In [66]:
set('aaabbbbbccc')

{'a', 'b', 'c'}

## 형변환
* 기존 type에서 다른 type으로 변환

In [68]:
'10'+'10'

'1010'

In [69]:
int('10')+int('10')

20

In [72]:
오늘잡은물고기수='371'

오늘잡은물고기수 = int(오늘잡은물고기수) + 10
오늘잡은물고기수

381

In [73]:
int('kimbyungwoo')

ValueError: ignored

In [79]:
s = '98710%'

print(s[:-1] *2)
print(int(s[:-1]) *2)

9871098710
197420

In [84]:
print(f'bool[1,2,3] : {bool([1,2,3])}')
print(f'bool[1,2,3] : {bool([])}')

bool[1,2,3] : True
bool[1,2,3] : False

[97, 90, 80, None]

In [86]:
tuple[1,2,3]

tuple[1, 2, 3]

In [89]:
t= (1,2,3)

list(t)

[1, 2, 3]

In [92]:
dict([('key1','value1'),('key2','value2'),('key3','value3')])

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [94]:
x = int(input('좋아하는 숫자를 입력하세요 : '))

x + x

좋아하는 숫자를 입력하세요 : 10

20

In [95]:
print('hello', end ='!!')
print('hello', end ='!!')
print('hello', end ='!!')
print('hello', end ='!!')
print('hello', end ='!!')

hello!!hello!!hello!!hello!!hello!!

# 문제 : 캣의 고객 관리

In [108]:
회원명 = input('회원명 입력하세요 : ')
회원 = ['A캣', 'B캣', 'C캣']

def 회원등록():
  회원.append(회원명)
  print(회원)
  print('회원으로 등록 되었습니다')

if 회원명 in 회원:
  print('이미 등록된 회원입니다.')

else :
  회원등록()

회원명 입력하세요 : ㅇㄴㅁㅇㅁㄴ
['A캣', 'B캣', 'C캣', 'ㅇㄴㅁㅇㅁㄴ']
회원으로 등록 되었습니다

In [114]:
구매가격 = input('가격을 입력하세요 :')
회원명 = input('회원명을 입력하세요 :')

회원 = ['씨-캣','자바캣','파이캣','썬캣','애옹']

if 회원명 in 회원:
  point = int(구매가격)/10

  print('회원입니다.')
  print(f'{구매가격} 노드 중 {point} 노드가 적립됩니다.')

else:
  print('회원이 아닙니다. 회원가입을 해주시기 바랍니다')

가격을 입력하세요 :15000
회원명을 입력하세요 :ㄴㅁㅇㅁㄴㄴ
회원이 아닙니다. 회원가입을 해주시기 바랍니다

In [14]:
구매가격 = input('가격을 입력하세요 :')
회원명 = input('회원명을 입력하세요 :')
#회원 = {회원명: 적립금}
회원 = {'씨-캣':5000,'자바캣':3500,'파이캣':15000,'썬캣':7000}

if 회원[회원명] >= int(구매가격):
  print(f'적립금을 사용할 수 있습니다. 현재 적립금액은 {회원[회원명]} 입니다.')
  minus = int(input('사용할 적립금 노드를 입력하세요 :'))
  print(f'{minus}노드를 사용 하였습니다. 남은 적릭금은 {회원[회원명]-minus }노드 입니다.')

else:
  print(f'현재 적립금이 {회원[회원명]}노드이므로 아직 적립금을 사용 할 수 없습니다. 결재금\
  액은 {구매가격}노드이고, 적립포인트는 {int(구매가격)/10}노드, 합산 포인트는\
  {int(구매가격)/10+회원[회원명]}입니다.')

가격을 입력하세요 :10000
회원명을 입력하세요 :썬캣
현재 적립금이 7000노드이므로 아직 적립금을 사용 할 수 없습니다. 결재금  액은 10000노드이고, 적립포인트는 1000.0노드, 합산 포인트는  8000.0입니다.

In [10]:
회원['씨-캣']

5000

In [15]:
def 배수(n):
  def 적립(value):
    return (value*0.1) *n
  return 적립

Feb = 배수(2)
Mar = 배수(3)

print('2월 적립금 이벤트 :',Feb(5000) )
print('3월 적립금 이벤트 :', Mar(15000))

2월 적립금 이벤트 : 1000.0
3월 적립금 이벤트 : 4500.0

## 5편 라이캣의 EXIT

In [16]:
for x in (1,2,3,4,5):
  print(f'고등어 포장{x}번째 입니다.')

고등어 포장1번째 입니다.
고등어 포장2번째 입니다.
고등어 포장3번째 입니다.
고등어 포장4번째 입니다.
고등어 포장5번째 입니다.

In [17]:
for x in [1,2,3,4,5]:
  print(f'고등어 포장{x}번째 입니다.')

고등어 포장1번째 입니다.
고등어 포장2번째 입니다.
고등어 포장3번째 입니다.
고등어 포장4번째 입니다.
고등어 포장5번째 입니다.

In [20]:
for x in '12345':
  print(f'고등어 포장{x}번째 입니다.')

고등어 포장1번째 입니다.
고등어 포장2번째 입니다.
고등어 포장3번째 입니다.
고등어 포장4번째 입니다.
고등어 포장5번째 입니다.

In [21]:
#for 문의 구조

for (변수명) in (순회 가능한 객체):
  수행할 문장1
  수행할 문장2

SyntaxError: ignored

In [22]:
왕국 = '위니브 월드'
for a in 왕국:
  print(a)
  print('--------------------')

위
--------------------
니
--------------------
브
--------------------

--------------------
월
--------------------
드
--------------------

In [23]:
왕국 = '위니브 월드'
for a in 왕국:
  print(a)
print('--------------------')

위
니
브

월
드
--------------------

In [33]:
기술 = ['고기잡기','고기팔기', '낚시_Lv1', '통발_Lv1','큰그물_Lv1']

for a in 기술:
  print(a)
  print(a[:a.find('_')])

고기잡기
고기잡
고기팔기
고기팔
낚시_Lv1
낚시
통발_Lv1
통발
큰그물_Lv1
큰그물

In [38]:
캣의_상태창 = {
    '이름': '캣',
    '설명' : '위니브 월드에서 가장 급성장하는 생선회사 대표 캣',
    '나이' : '19',
    '키'   : '45.9cm',
    '몸무게' : 1.6
}

for a in 캣의_상태창:
  print(a, 캣의_상태창[a])

이름 캣
설명 위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이 19
키 45.9cm
몸무게 1.6

In [40]:
print(캣의_상태창.items())

dict_items([('이름', '캣'), ('설명', '위니브 월드에서 가장 급성장하는 생선회사 대표 캣'), ('나이', '19'), ('키', '45.9cm'), ('몸무게', 1.6)])

In [41]:
for a,b in 캣의_상태창.items():
  print(f'{a}:{b} ')

이름:캣
설명:위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이:19
키:45.9cm
몸무게:1.6

In [46]:
for a in 캣의_상태창.items():
  print(f'{a[0]} : {a[1]} ')

이름 : 캣
설명 : 위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이 : 19
키 : 45.9cm
몸무게 : 1.6

In [50]:
# range(start,stop,step)
print(type(range(2,10,2)))
print(list(range(10)))
print(list(range(5,0,-1)))
print(list(range(2,10)))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 4, 3, 2, 1]
[2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
#for ,else


for i in range(5):
  print(f'{i}마리의 물고기를 잡을 수 있습니다.')
  if i == 10:
    print('만선입니다')
    break
else:
  print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0마리의 물고기를 잡을 수 있습니다.
1마리의 물고기를 잡을 수 있습니다.
2마리의 물고기를 잡을 수 있습니다.
3마리의 물고기를 잡을 수 있습니다.
4마리의 물고기를 잡을 수 있습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

In [ ]:
##list comprehension

l =[]

for i in range(1,101):
  l.append(i)

l

ll = [i for i in range(1,101)]
ll

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(f'{i} X {j} = {i*j}')

In [ ]:
l = [f'{i} X {j} = {i*j}'for i in range(2,10) for j in range(1,10)]
l

In [69]:
 skil = [
        ('고기잡이' , 100,'SS'),
        ('고기팔기' , 120,'SSS'),
        ('낚시' , 5,'c'),
        ('통발' , 5,'c'),
        ('큰그물' , 5,'c') ]

for skilName,skilLevel,skilGrade  in skil:
  print(skilName,skilLevel,skilGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 c
통발 5 c
큰그물 5 c

In [72]:
# enumerate

skil = [
        ('고기잡이' , 100,'SS'),
        ('고기팔기' , 120,'SSS'),
        ('낚시' , 5,'c'),
        ('통발' , 5,'c'),
        ('큰그물' , 5,'c') ]

for i,(skilName,skilLevel,skilGrade)  in enumerate(skil):
  print(i,skilName,skilLevel,skilGrade)

0 고기잡이 100 SS
1 고기팔기 120 SSS
2 낚시 5 c
3 통발 5 c
4 큰그물 5 c