## f'스트링 이중 중괄호

In [10]:
숫자 = 10
자릿수 = 10
print(f'{숫자:>{자릿수}}')
print(f'{숫자:<{자릿수}}')

        10
10

In [13]:
print(f'{숫자:0{자릿수}}')

0000000010

In [21]:
원주율 = 3.141592
소수점 = 3
print(f'{원주율:.{소수점}f}')

3.142

## 왈러스 연산자

In [43]:
value = 10
(value := value+1) #왈러스

# value +=1
# value

11

In [23]:
(value := value+1)

12

In [24]:
count = 0 
while (count :=count +1)<10:
    print(count)

1
2
3
4
5
6
7
8
9

In [25]:
count = 0 
result = 0
while (count:=count+1)<101:
    result += count
result

5050

In [27]:
def 시그마(n):
    count = 0 
    result =0
    while (count:=count +1)<n+1:
        result +=count
    return result
합 = 시그마(100)
if 합:
    print(합)
else:
    print('1부터 정수형태로 입력이 가능합니다.')

5050

In [28]:
def 시그마(n):
    count = 0 
    result =0
    while (count:=count +1)<n+1:
        result +=count
    return result

if 합 := 시그마(100):
    print(합)
else:
    print('1부터 정수형태로 입력이 가능합니다.')

5050

In [35]:
def 시그마(n):
    count = 0 
    result =0
    while (count:=count +1)<n+1:
        result +=count
    return result

if (합 := 시그마(100)) ==5050:
    print('5050이 출력되었습니다.')
else:
    print('1부터 정수형태로 입력이 가능합니다.')
    
print(합 +1000)

5050이 출력되었습니다.
6050

## 딕셔너리 keyError 처리

In [49]:
def 요일구하기(요일):
    return{
        0:'일요일',
        1:'월요일',
        2:'화요일',
        3:'수요일',
        4:'목요일',
        5:'금요일',
        6:'토요일'
    }.get(요일,'요일없음')

In [51]:
요일구하기(10)

'요일없음'

In [46]:
요일구하기(3)

'수요일'

In [48]:
{
        0:'일요일',
        1:'월요일',
        2:'화요일',
        3:'수요일',
        4:'목요일',
        5:'금요일',
        6:'토요일'
    }[10]

KeyError: 10

## 리스트 append와 리스트컴프리헨션 성능 비교

In [53]:
import dis 

def 테스트():
    x = [i for i in range(10)]
    return x
dis.dis(테스트)

  4           0 LOAD_CONST               1 (<code object <listcomp> at 0x000001E3E8C0AB80, file "C:\Users\user\AppData\Local\Temp\ipykernel_24532\3637155810.py", line 4>)
              2 LOAD_CONST               2 ('테스트.<locals>.<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_GLOBAL              0 (range)
              8 LOAD_CONST               3 (10)
             10 CALL_FUNCTION            1
             12 GET_ITER
             14 CALL_FUNCTION            1
             16 STORE_FAST               0 (x)

  5          18 LOAD_FAST                0 (x)
             20 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x000001E3E8C0AB80, file "C:\Users\user\AppData\Local\Temp\ipykernel_24532\3637155810.py", line 4>:
  4           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                 4 (to 14)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LIST_APPEND              2
             12 JUMP_ABSOLUTE            2 (to 4)
        >>   14 RETURN_VALUE

In [55]:
import dis 

def 테스트():
    x = []
    for i in range(10):
        x.append(i)
    return x
dis.dis(테스트)

  4           0 BUILD_LIST               0
              2 STORE_FAST               0 (x)

  5           4 LOAD_GLOBAL              0 (range)
              6 LOAD_CONST               1 (10)
              8 CALL_FUNCTION            1
             10 GET_ITER
        >>   12 FOR_ITER                 7 (to 28)
             14 STORE_FAST               1 (i)

  6          16 LOAD_FAST                0 (x)
             18 LOAD_METHOD              1 (append)
             20 LOAD_FAST                1 (i)
             22 CALL_METHOD              1
             24 POP_TOP
             26 JUMP_ABSOLUTE            6 (to 12)

  7     >>   28 LOAD_FAST                0 (x)
             30 RETURN_VALUE

## sorted의 key 응용

In [76]:
a =[1,213124124,124214,124124,21]
b = sorted(a)
b

[1, 21, 124124, 124214, 213124124]

In [57]:
sorted({1:'D',2:'B',3:'B',4:'E',5:'A'})

[1, 2, 3, 4, 5]

In [66]:
sorted('This is a test string from Andrew'.split(),key =str.lower)  #대소문자 구분없이 정렬
sorted('This is a test string from Andrew'.split()) #대문자 정렬 후 소문자 정렬

['Andrew', 'This', 'a', 'from', 'is', 'string', 'test']

In [84]:
student_tuples = [
    ('john','A',15),
    ('jane','B',12),
    ('dave','B',10)
]

In [89]:
sorted(student_tuples,key=lambda student:student[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

### lambda

In [79]:
lambda 매개변수 :표현식

In [81]:
def hap(x,y):
    return x+y
hap(10,20)

30

In [90]:
(lambda x,y:x+y)(10,20)

30

In [93]:
class Student:
    def __init__(self, name ,grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    def __repr__(self):
        return repr((self.name, self.grade, self.age))

In [94]:
student_objects = [
    Student('john', 'A',15),
    Student('jane', 'B',15),
    Student('dave', 'B',15)
]

In [95]:
sorted(student_objects,key=lambda student:student.age)

[('john', 'A', 15), ('jane', 'B', 15), ('dave', 'B', 15)]

In [96]:
from operator import itemgetter,attrgetter

sorted(student_tuples, key =itemgetter(2))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [97]:
sorted(student_tuples, key =itemgetter(2),reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [100]:
test = ['a','aaa','bb','cccc']

In [102]:
sorted(test,key=len)

['a', 'bb', 'aaa', 'cccc']

In [111]:
test =[(30,20,10),(10,100,90),(90,90,90),(50,20,30),(10,20,10)]

sorted(test) 
sorted(test , key = lambda x:x[0]) 
sorted(test , key = lambda x:sum(x))

[(10, 20, 10), (30, 20, 10), (50, 20, 30), (10, 100, 90), (90, 90, 90)]

In [112]:
test = [10,2,1,2,9,3,0,5,5,9,3,11,22]
우선순위그룹 = [0,1,11,111]

def 우선순위판별(값):
    if 값 in 우선순위그룹:
        return (False, 값)
    return (True,값)

sorted(test) 
# sorted(test , key = lambda x:False if x in 우선순위그룹 else True) 
# sorted(test , key = lambda x:(False, x) if x in 우선순위그룹 else (True ,x))

[0, 1, 2, 2, 3, 3, 5, 5, 9, 9, 10, 11, 22]