## 각도기

In [ ]:
def solution(angle):
    if angle >0 and angle <90 :
        return 1
    
    elif angle ==90 :
        return 2
    
    elif angle >90 and angle <180:
        return 3
    
    elif angle == 180:
        return 4

2

## 짝수의 합

In [ ]:
def solution(n):
    sum = 0
    for x in range(0, n+1,2):
        sum +=x
    return sum

## 배열의 평균값

In [3]:
def solution(numbers):
    return sum(numbers)/len(numbers)

94.0

## 양꼬치

In [43]:
import math 

def solution(n  , k):   #n 양꼬치 k음료수
    a = n*12000
    b = k*2000
    c = a+b
    
    if n // 10 >=1 :
        c-= math.floor(n//10)*2000
        return c
    else:
        return c

124000

## 아이스 아메리카노

In [62]:
def solution(money):
    i = list()
    aa = money//5500
    money -= aa*5500
    i.extend([aa,money])
    return i

[1, 0]