조건에 맞게 수열 변환하기 3

In [5]:
# k가 홀수라면 arr의 모든 원소에 k를 곱함
# k가 짝수라면 arr의 모든 원소에 k를 더합니다.

def solution(arr,k):
  if k%2==0: 
    return [i+ k for i in arr]
  else :
    return [i*k for i in arr]
solution([1, 2, 3, 100, 99, 98],2)

[2, 4, 6, 200, 198, 196]

# a와 b 출력하기

In [32]:
x= input().split()

a,b = map(int,x)
print(f'a= {a}\nb= {b}')

4 5
a= 4
b= 5

## map

In [14]:
a= [1.2,2.5,3.7,4.6]
for i in range(len(a)):
  a[i] = int(a[i])

a

[1, 2, 3, 4]

In [16]:
a= [1.2,2.5,3.7,4.6] 
a= list(map(int,a))
a

[1, 2, 3, 4]

In [19]:
a = list(map(str,range(10)))

a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [20]:
a =input().split()
a

10 20

['10', '20']

In [23]:
a, b =[10,20]
a
b

20

In [27]:
x = input().split()
m = map(int,x)
m
a,b = m
print(a,b)

10 20
10 20

# n 번째 원소까지

In [45]:
def solution(num_list, n):
      return [i for i in num_list][:n]

[5, 2, 1]

# 0 떼기

In [98]:
def solution(n_str):
    answer = str(int(n_str))
    return answer

## lstrip()

In [101]:
a= "0010"
a.lstrip('0')

'10'

# 나머지가 1이 되는 수 찾기

In [113]:
def solution(n):

    return [i for i in range(1,n) if n% i ==1 ][0]

3

# 약수의 합

In [119]:
def solution(n):
    result = 0
    for i in range(1,n+1):
      if n%i==0:

        result +=i
    return result

28

# 평균 구하기

In [121]:
def solution(arr):
    
    return sum(arr)/len(arr)

2.5

# 서울에서 김서방 찾기

In [167]:
def solution(seoul):
    return (f'김서방은 {seoul.index("Kim")}에 있다')

# 핸드폰 번호 가리기

In [254]:
def solution(phone_number):
    return '*'*(len(phone_number)-4)+phone_number[-4:]

'*********6454'

In [203]:
phone_number="1033334444"
phone_number.index(phone_number[-4:])

7